@charset "UFT-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5709aa;
}

.titulo{
    text-align: center;
}

.titulo > h1 {
    font-size: 60px;
    color: white;
    margin: auto;
    padding-top: 15px;
}

.titulo > p{
    font-size: 20px;
    color: wheat;
    margin: auto;
    padding-top: 7px;
    margin-bottom: 30px;
}

.playlist{
    display: flex;
    flex-direction: row; /*Eixo principal*/
    justify-content: center; /*Eixo principal*/
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.musica{
    width: 270px;
    height: 350px;
    border-radius: 30px;
    background: #5709aa;
    box-shadow:  20px 20px 60px #4a0891,
                 -20px -20px 60px #640ac4;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.imagem{
    border-radius: 20px;
    width: 230px;
    height: 230px;
    background-color: aliceblue;
}

#rodape{
    text-align: center;
}

#rodape > h1 {
    font-size: 30px;
    color: white;
    margin: auto;
    padding-top: 50px;
}